# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
.venv/
venv/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Frontend
node_modules/
.next/

